* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-image: url(img/Messi\ &\ fans.jpg);
    background-size: contain;
}

.calculator {
    background-color: black;
    width: 100%;
    max-width: 375px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 0 20px black;
}

/* solution screen*/

.display {
    min-height: 200px;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    text-align: right;
    flex: 1 1 0%;
}

.display .input {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.display .output {
    font-size: 3rem;
    font-weight: 700;
    max-width: 100%;
    width: 100%;
    overflow: auto;
}

.display .operator {
    color: #eb6666;
}

.display .brackets,
.display .percent {
    color: rgb(121, 226, 121);
}

.keys {

    background-image: url(img/Messi\ kiss.jpg);
    background-size: 100%;
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

.keys .key {
    position: relative;
    cursor: pointer;
    display: block;
    height: 0;
    padding-top: 100%;
    background: #262933;
    border-radius: 1rem;
    transition: 0.3s;
    user-select: none;
}

.keys .key span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.keys .key:hover {
    box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.2);
}

.keys .key.operator span {
    color: #eb6666;
}

.keys .key.action span {
    color: aqua;
}

@media(max-width: 720px) {

    body {
        background-image: url(img/Clown.jpg);
        background-size: auto;
    }

    .calculator {
        background-color: black;
        width: 80%;
        min-height: 580px;
        display: flex;
        flex-direction: column;
        border-radius: 1.5rem;
        overflow: hidden;
        box-shadow: 0 0 20px white;
        margin-bottom: auto;
        margin-top: .5rem;
        
    }

    .keys .key.action>span {
        font-size: larger;
    }

    .keys {

        background-image: url(img/Messi\ kiss.jpg);
        background-size: 100%;
        padding: 2rem;
        border-radius: 1.5rem 1.5rem 0 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 1rem;
        box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
    }

    .keys .key {
        position: relative;
        cursor: pointer;
        display: block;
        height: 0;
        padding-top: 100%;
        background: #262933;
        border-radius: 1rem;
        transition: 0.3s;
        user-select: none;
    }

    .keys .key span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }

}